In [1]:
import numpy as np
import pandas as pd
from sklearn import tree

In [2]:
df = pd.read_csv("DecisionTreesClassificationDataSet.csv")
df

,Deneyim Yili,SuanCalisiyor?,Eski Calistigi Firmalar,Egitim Seviyesi,Top10 Universite?,StajBizdeYaptimi?,IseAlindi
0,11,Y,4,BS,N,N,Y
1,0,N,0,PhD,Y,Y,Y
2,5,Y,2,MS,N,Y,Y
3,3,N,1,BS,N,Y,Y
4,0,N,0,BS,N,N,N
5,14,Y,7,BS,N,N,Y
6,1,N,0,BS,N,N,N
7,1,N,1,PhD,Y,N,N
8,4,Y,1,BS,N,Y,Y
9,0,N,0,PhD,Y,N,Y
10,0,N,0,BS,Y,Y,Y
11,2,N,0,BS,Y,Y,Y
12,8,N,6,BS,N,N,N
13,3,Y,1,MS,Y,N,Y
14,19,N,2,PhD,Y,N,N
15,1,N,0,BS,N,N,N